<section class="card">
  {{!-- <a href="/post/{{id}}"> --}}
    <header>Title of blog post</header>
    <h4>Author of Blog Post</h4>
    <hr>
    <p>here is a bunch of text that is supposed to fill up the blog</p>
  {{!-- </a> --}}
</section>